@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Signika Negative', sans-serif;

}

body{
  background: papayawhip;
}

h1,h4,p,a{
  color: black;
  text-decoration: none;

}

ul{
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: black;
  color: beige;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
}


.btn:hover {
  background: grey;
  color: black;
  transition:0.3s;
}